---
layout: default
robots: noindex
permalink: /blog
---

<ul class="timeline">

    {% for post in site.posts %}
      <li class="timeline-inverted">

        
        <div class="timeline-image">
            {% if post.feature_img %}
                <img class="img-me" src="{{ post.feature_img }}" alt=""/>
            {% else %}
                <img class="img-me" src="{{ site.blog.default_img }}" alt=""/>
            {% endif %}
        </div>

        

        <div class="timeline-panel">

            <div class="timeline-heading">
                {{ post.excerpt }}
                
            </div>

            <div class="timeline-body">
                <h4>By : <a href="{{ post.url }}"> {{ post.author }}</a></h4>
                {{ post.summary | markdownify }}

                <a href="{{ post.url }} ">Read More...</a>
            </div>
            <!-- if post has been published on medium / quora / linkedin  -->
            <div class="timeline-footer">
                <h5>{{ post.date | date_to_long_string }}</h5>
            </div>
        </div>


      </li>
    {% endfor %}
</ul>